.datadelete{width:16;height:16;background-image: url(/upload/2013-01-26/c4fd7e8f-412a-4061-a114-57d2eeff1f49.png)!important;}
.dataadd{width:16;height:16;background-image: url(/upload/2013-01-27/d18db08d-8034-4875-9738-0e77781cd635.png)!important;}
.clear_cache{width:16;height:16;background-image: url(/upload/2013-02-02/085f0436-7a58-461e-ad0f-ac01c65db7c7.png)!important;}
.tree_set_perm{width:16;height:16;background-image: url(/upload/2013-02-02/5293649d-cd91-499a-8494-5fc789b4f16d.png)!important;}
.bigicon{width:16;height:16;background-image: url(/upload/2013-01-27/6db52848-70c9-45b2-a164-19a3b9a23219.png)!important;}
.tree_see_perm{width:16;height:16;background-image: url(/upload/2013-02-02/656cf615-2200-41b6-a6b1-f6be0476e424.png)!important;}
